
*{
    margin: 0;
    padding: 0;
}
.all{
    width: 600px;
    margin: 0 auto;
}
.first{
    margin-top: 30px;
    border-collapse:collapse;
    border: 1px solid #ccc;
    width: 500px;
    line-height: 100%;
    text-align: left;
    border-spacing:0;
}
.all .first th{
    border-bottom: 1px solid #ccc;
    height: 30px;
    padding: 8px;
    font-weight: bold;
    background: #4caf50;
    color: #fff;
}
.all .first td{
    height: 30px;
    border-bottom: 1px solid #ccc;
    padding: 8px
}
.first tr:nth-child(even){
    background: #f1f1f1;
}
.two{
    margin-top: 30px;
    width: 500px;
    line-height: 100%;
    text-align: left;
    border-spacing:0;
}
.all .two th{
    border-bottom: 1px solid #ccc;
    height: 30px;
    padding: 8px;
    font-weight: bold;
}
.all .two td{
    height: 30px;
    border-bottom: 1px solid #ccc;
    padding: 8px
}
.two tr:nth-child(even){
    background: #f1f1f1;
}


