
.top {
    width: 200px;
    height: 50px;
    border: 1px solid #eee;
    margin: 30px auto 0 auto;
    position: relative;
    z-index: auto;
    background-color: #fff;
}

.float-triangle::before {
    /*after必备*/
    content: ' ';
    display: block;
    /*style样式*/
    width: 10px;
    height: 10px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    background-color: #eee;
    /*定位*/
    position: relative;
    top: -6px;
    left: 20px;
    transform : rotate(45deg);
    z-index: -1;
}
.two {
    z-index: -1;
}
.float-triangle-two::before {
    /*after必备*/
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-bottom: 20px solid red;
    border-right: 20px solid transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    transform : rotate(180deg);
    z-index: auto;
}
.three::before {
    background-color: #fff;
    z-index: 3;
}