
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
.all{
    margin: 0 auto;
    width: 900px;
}
.kuai{
    width: 600px;
    height: 150px;
    position: relative;
    background-color: #4caf50;
    border-radius: 5px;
    margin: 30px;
    color: #ffffff;
}
.span{
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 30px;
}
.biaoti{
    padding: 10px;
    font-size: 30px;
}
.xueba{
    margin: 30px 10px ;
    font-size: 20px;
}
.blue{
    background-color: #2196F3;
}
.red{
    background-color: #f44336;
}
.yellow{
    background-color: #ff9800;
}